.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.header .logo img {
  max-height: 100px;
}
.header .contact {
  display: flex;
}
.header .contact .contact-info {
  display: flex;
  flex-direction: column;
}
.header .contact .contact-info .phone-number {
  display: flex;
  align-items: center;
  font-size: clamp(1.5rem, 1.2017rem + 0.8523vw, 1.875rem);
  font-weight: 700;
}
.header .contact .contact-info .phone-number img {
  height: 35px;
}
.header .contact .callback-button {
  margin-left: 50px;
  background-color: #1D438E;
  color: white;
  font-size: 30px;
  border-radius: 13px;
  border: 0px;
}

.plus {
  padding-bottom: 100px;
}
.plus h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.plus h3 {
  height: 80px;
}
.plus ul {
  display: flex;
  justify-content: space-between;
}
.plus ul li {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.plus ul li img {
  height: 100px;
}
.plus .line {
  height: 2px;
  background-color: #1d438e;
}
.plus p {
  font-size: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 100px 0;
}
.info h1 {
  margin-top: 0px;
  text-align: center;
}
.info .info__text {
  width: 65%;
}
.info p {
  font-size: clamp(0.75rem, 0.1534rem + 1.7045vw, 1.5rem);
  line-height: 1.1;
}
.info .video-mask {
  width: 30%;
  height: 100%;
  border-radius: 48px;
  overflow: hidden;
}

.start {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
}
.start .text .colorful {
  color: #1d438e;
}
.start .text h1 {
  margin-bottom: 4px;
}
.start .text .caption {
  color: #626262;
  font-size: clamp(0.875rem, 0.3778rem + 1.4205vw, 1.5rem);
}
.start .first-image {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
}
.start .form {
  width: 35%;
}
.start .form form {
  background-color: #e6e6e6;
  border: 0px;
  border-radius: 32px;
  padding: 24px;
}
.start .form form .text {
  font-size: clamp(1.125rem, 0.8267rem + 0.8523vw, 1.5rem);
  font-weight: 600;
}
.start .form form .phone-input {
  width: 100%;
  border: 0px;
  border-radius: 12px;
  text-indent: 16px;
  height: 52px;
  margin-top: 24px;
}
.start .form form .phone-input::-moz-placeholder {
  font-size: clamp(0.625rem, 0.3267rem + 0.8523vw, 1rem);
}
.start .form form .phone-input::placeholder {
  font-size: clamp(0.625rem, 0.3267rem + 0.8523vw, 1rem);
}
.start .form form button {
  background-color: #1d438e;
  border: 0px;
  border-radius: 12px;
  color: white;
  width: 100%;
  margin-top: 20px;
  font-size: clamp(1rem, 0.8011rem + 0.5682vw, 1.25rem);
  height: 54px;
  cursor: pointer;
}
.start .form form .personal {
  margin-top: 8px;
  accent-color: #1d438e;
}
.start .form form label {
  font-size: clamp(0.75rem, 0.6506rem + 0.2841vw, 0.875rem);
}

.garant__teg {
  display: flex;
  gap: 15px;
}
.garant h1 {
  text-align: center;
}
.garant ul {
  display: flex;
  justify-content: space-between;
}
.garant li {
  display: column;
}
.garant img {
  height: 71px;
  padding-top: 30px;
}

.contacts {
  padding-left: 260px;
  display: flex;
}

.container {
  padding: 0px 160px 0px 160px;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
  font-style: normal;
}

h1 {
  font-size: clamp(2rem, 0.4091rem + 4.5455vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 1.2017rem + 0.8523vw, 1.875rem);
}

.start-bg {
  background-image: url("../img/first-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gray-bg {
  background-color: #F5F5F5;
}

ul {
  list-style: none;
}/*# sourceMappingURL=main.css.map */