.consult {
  padding: 100px 0 100px 0;
  h1 {
    margin: 0px;
    margin-bottom: 100px;
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: space-between;
    .call-us {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: start;
      img {
        height: 50px;
      }
    }
    .phone {
      display: flex;
      flex-direction: column;
      .text {
        font-size: clamp(0.75rem, 0.4517rem + 0.8523vw, 1.125rem);
        // font-weight: 300;
        color: #A6A6A6;
      }
    }
    h3 {
      margin: 0;
      color: black;
    }
  }
  .consult__column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    form {
      display: flex;
      flex-direction: column;
      width: fit-content;
      .checkbox {
        margin-top: 8px;
        font-size: clamp(0.625rem, 0.5256rem + 0.2841vw, 0.75rem);
      }
      .input-btn {
        display: flex;
        width: fit-content;
        border: 1px solid #1d438e;
        border-radius: 12px;
        overflow: hidden;

        input {
          // icon
          background: url("../../img/call-icon.svg") no-repeat left;
          background-size: 25px;
          background-position-x: 10px;
          text-indent: 45px;
          padding-top: 16px;
          padding-bottom: 16px;
          font-size: clamp(0.625rem, 0.5256rem + 0.2841vw, 0.75rem);
          border: 0px;
          min-width: 250px;
        }
        input:focus {
          outline: none;
        }
        button {
          background-color: #1d438e;
          border: 0px;
          color: white;
          font-size: clamp(0.875rem, 0.6761rem + 0.5682vw, 1.125rem);
          line-height: 1;
        }
      }
    }
  }
  .consult__column2 {
    width: 30%;
    .in-office {
      border: 0px;
      border-radius: 32px;
      background-color: #EBEDEF;
      padding: 32px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 0px;
        margin-bottom: 40px;
      }
      .plus-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading {
          font-weight: 700;
          font-size: clamp(0.875rem, 0.5767rem + 0.8523vw, 1.25rem);
        }
        .item {
          display: flex;
          align-items: center;
          margin-top: 20px;
          span {
            margin-left: 14px;
            font-size: clamp(0.625rem, 0.3267rem + 0.8523vw, 1rem);
          }
        }
      }
    }
  }
  .consult__row {
    display: flex;
    justify-content: space-between;
  }
  .line {
    background-color: #1d438e;
    height: 2px;
  }
  .social {
    display: flex;
    flex-direction: column;
    h2 {
      margin-top: 0;
    }
    a {
      color: #1D438E;
      font-size: clamp(1rem, 0.2045rem + 2.2727vw, 2rem);
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        margin-right: 16px;
      }
    }
    .contacts-cont {
      display: flex;
      justify-content: space-between;
    }
  }
}
