.garant {
  &__teg {
    display: flex;
    gap: 15px;
  }
  h1 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: column;
  }
  img {
    height: 71px;
    padding-top: 30px;
  }
}
