.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;

  .logo {
    // стили для логотипа
    img {
      max-height: 100px;
    }
  }
  .contact {
    display: flex;

    .contact-info {
      display: flex;
      flex-direction: column;

      // стили для номера телефона
      .phone-number {
        display: flex;
        align-items: center;
        font-size: clamp(1.5rem, 1.2017rem + 0.8523vw, 1.875rem);
        font-weight: 700;
        img {
          height: 35px;
        }
      }

    }
    .callback-button {
      // стили для кнопки "обратный звонок"
      margin-left: 50px;
      background-color: #1D438E;
      color: white;
      font-size: 30px;
      border-radius: 13px;
      border: 0px;
    }
  }
}
