.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;

  .logo {
    img {
      max-height: 100px;
    }
  }

  .contact {
    display: flex;

    .contact-info {
      display: flex;
      flex-direction: column;
      .address {
        font-size: clamp(0.625rem, 0.3267rem + 0.8523vw, 1rem);
        margin-top: 10px;;
      }
      .phone-number {
        display: flex;
        align-items: center;
        font-size: clamp(1.5rem, 1.2017rem + 0.8523vw, 1.875rem);
        font-weight: 700;
        img {
          height: 35px;
          margin-right: 10px;
        }
      }
    }

    .callback-button {
      margin-left: 20px;
      background-color: #1d438e;
      color: white;
      font-size: 20px;
      border-radius: 13px;
      border: 0px;
      min-height: 50px;
    }
  }
  @media (max-width: 1264px) {
    .contact {
      display: flex;
      flex-direction: column;
      // align-items: start;
      .contact-info {
        .phone-number {
          img {
            height: 20px;
          }
        }
      }
      .callback-button {
        margin-top: 20px;
        margin-left: 0;
      }
    }
    .logo {
      img {
        max-height: 60px;
      }
    }
  }

  // @media (max-width: 768px) {
  //   flex-direction: column;
  //   height: auto;

  //   .logo {
  //     margin-bottom: 20px;
  //   }

  //   .contact {
  //     flex-direction: column;

  //     .callback-button {
  //       margin-top: 20px;
  //       margin-left: 0;
  //     }
  //   }
  // }
}
