.start {
  display: flex;
  justify-content: space-between;

  min-height: 100vh;
  .text {
    .colorful {
      color: #1D438E;
    }
  }
  .first-image {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
  }
}